.navbar {
    background-color: #e2e8f0;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.inner_navbar {
    display: flex;
    align-items: center;
    justify-content: end;
    /* width: 800px; */
}